{{include "top.html"}}
	{{include "profile/password-checker.html"}}
	<form action="/profile/password" method="POST">
		<h1>{{print translate "change-password"}}</h1>
		<div>
			<label for="password">{{print translate "password"}}</label>
			<input type="password" name="password" id="password"  minlength="4" maxlength="32"/>
		</div>
		<div>
			<label for="repeat-password">{{print translate "repeat-password"}}</label>
			<input type="password" name="repeat-password" id="repeat-password"  minlength="4" maxlength="32"/>
		</div>
		<input type="submit" value="{{print translate "submit"}}" id="submit"/>
		<a class="button" href="/profile">{{print translate "back"}}</a>
		{{include "messages.html"}}
	</form>
{{include "bottom.html"}}
