<script>
    window.addEventListener("load", function() {
        let password = document.getElementById("password");
        let repeatPassword = document.getElementById("repeat-password");
        let submit = document.getElementById("submit");
        
        password.addEventListener("keyup", check);
        repeatPassword.addEventListener("keyup", check);

        function check() {
            let errors = document.getElementsByClassName("errors")[0];
            let correct = (password.value === repeatPassword.value);

            if(errors === undefined) {
                if(!correct) {
                    errors = document.createElement("ul");
                    errors.classList.add("errors");
                    let error = document.createElement("li");
                    errors.appendChild(error);
                    error.classList.add("passwords-do-not-match");
                    error.innerHTML = "{{print translate "passwords-do-not-match"}}";
                    document.getElementsByTagName("form")[0].appendChild(errors);
                    submit.disabled = true;
                } else {
                    submit.disabled = false;
                }
            } else {
                let error = document.getElementsByClassName("passwords-do-not-match")[0];
                if(!correct) {
                    if(error === undefined) {
                        error = document.createElement("li");
                        error.classList.add("passwords-do-not-match");
                        error.innerHTML = "{{print translate "passwords-do-not-match"}}";
                        errors.appendChild(error);
                        submit.disabled = true;
                    }
                } else {
                    if(error !== undefined) {
                        error.parentElement.removeChild(error);
                    }
                    if(errors.children.length === 0) {
                        errors.parentElement.removeChild(errors);
                    }
                    submit.disabled = false;
                }
            }
        }
    });
</script>