/* Basics */

html{
    background-color: #1f1f1f;
    color: #efefef;
}

body{
    margin: 0px;
}

header, main, footer{
    margin: auto;
    max-width: 1024px;
}

nav, header, footer{
    text-align: center;
}

a{
    color: #5f5fef;
}

.errors{
    color: #ef5f5f;
}

/* Forms */

form{
    margin: auto;
    max-width: 512px;
}

input{
    box-sizing: border-box;
    width: 100%;
}