/* Predefined */

:root{
	--outside-color: #4E6E7D;
	--main-color: #F5F1F2;
	--outside-text-color: #CD9F64;
	--main-text-color: #2C2C2C;
	--error-color: #C94731;

	--max-width: 1024px;
	--max-form-width: 512px;

	--heading-font: font, sans-serif;
	--text-font: font, serif;

	--text-size: 18px;

	--border-style: 2px dotted var(--main-text-color);

	--padding: 48px;
	--margin: 24px;
}

@font-face {
  font-family: font;
  src: url(font.ttf);
}

/* Structure */

html{
	background-color: var(--outside-color);
	font-size: var(--text-size);
	font-family: var(--text-font);
}

body{
	margin: 0px;
}

main{
	padding-top: var(--padding);
	padding-bottom: var(--padding);
	background-color: var(--main-color);
	color: var(--main-text-color);
}

header, footer{
	color: var(--outside-text-color);
}

header{
	text-align: center;
}

main, header, footer{
	box-sizing: border-box;
	width: 100%;
	padding-left: var(--padding);
	padding-right: var(--padding);
}

img, p, h1, h2, .block, input[type=submit]{
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: var(--margin);
	margin-top: var(--margin);
}

/* General Element Styling */

h1{
	font-size: 48px;
	font-family: var(--heading-font);
}

h2{
	font-size: 32px;
	font-family: var(--heading-font);
}

ul{
	padding-left: 20px;
}

a{
	text-decoration: none;
	padding-left: 0.3em;
	padding-right: 0.3em;
	background-color: var(--outside-text-color);
	color: var(--outside-color);
	transition: all 0.2s;
}

main a{
	background-color: var(--main-text-color);
	color: var(--main-color);
}

a:hover{
	background-color: transparent;
	color: var(--outside-text-color);
}

main a:hover{
	color: var(--main-text-color);
}

img{
	width: 100%;
}

#title{
	padding: 0px;
	background-color: transparent;
	color: var(--outside-text-color);
}

table{
	width: 100%;
}

tr:not(:last-child) > th, tr:not(:last-child) > td{
	border-bottom: 1px solid var(--main-text-color);
}

th + td{
	border-left: 1px solid var(--main-text-color);
}

th, td{
	text-align: left;
}

/* Form and Button Styling */

form{
	margin: auto;
	max-width: var(--max-form-width);
}

input{
	width: 100%;
	outline: none;
	border: none;
	color: var(--main-text-color);
	font-size: var(--text-size);
	font-family: var(--heading-font);
	border-radius: 0px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type=text], input[type=password]{
	padding: 0px;
	padding-top: 8px;
	padding-bottom: 2px;
	border-bottom: var(--border-style);
	background-color: transparent;
}

input[type=submit], .button{
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 8px;
	text-align: center;
	background-color: var(--main-text-color);
	color: var(--main-color);
	cursor: pointer;

	transition: all 0.2s;
	transform: translate(0, 4px);
	box-shadow: 0px -4px var(--outside-color);
}

input[type=submit]:hover, .button:hover, input[type=submit]:focus, .button:focus{
	transform: translate(0, 3px);
	box-shadow: 0px -3px var(--outside-color);
}

input[type=submit]:active, .button:active{
	transform: translate(0, 0px);
	box-shadow: 0px 0px var(--outside-color);
}

.errors{
	background-color: var(--error-color);
}

.errors ul{
	margin: 0px;
}

/* Navigation */

nav{
	background-color: var(--outside-color);
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	display: flex;
	justify-content: center;
	align-self: flex-start;
	flex-flow: row wrap;
	z-index: 1000;
}

nav > a{
	margin: 8px;
	margin-top: 16px;
	margin-bottom: 16px;
}

/* Collapsibles */

.collapsible{
	cursor: pointer;
	border-bottom: var(--border-style);
}

.collapsible::after{
	content: " ▼";
}

.collapsible.active::after{
	content: " ▲";
}

.content{
	display: none;
}

/* Alignment */

.flex{
	display: flex;
	justify-content: space-between;
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}

.centered{
	max-width: var(--max-width);
	margin: auto;
	box-sizing: border-box;
}
