<!DOCTYPE html>
<html>
	<server>include "head.html"</server>
	<body>
		<div id="main">
			<h1><server>print get "title" all</server></h1>
			<p><server>translate description</server></p>
			<h2 class="collapsible">Autoclicker</h2>
			<div class="content">
				<a href="/downloads/autoclicker.jar" class="button" download>Download</a>
			</div>
			<h2 class="collapsible">Scoreboard</h2>
			<div class="content">
				<a href="http://scoreboard.ddnss.ch" class="button">Link</a>
			</div>
			<h2 class="collapsible">Minecraft Server</h2>
			<div class="content">
				<a class="button">minecraftserver.ddnss.ch</a>
			</div>
			<h2 class="collapsible">Snailrace</h2>
			<div class="content">
				<a href="/downloads/snailrace.exe" class="button" download>Download</a>
			</div>
			<h2 class="collapsible">Colony</h2>
			<div class="content">
				<a href="/downloads/colony-german.exe" class="button" download>Download [Deutsch]</a>
				<a href="/downloads/colony-english.exe" class="button" download>Download [Englisch]</a>
			</div>
			<h2 class="collapsible">War of Ages</h2>
			<div class="content">
				<a href="/downloads/war-of-ages.exe" class="button" download>Download</a>
			</div>
			<h2 class="collapsible">Dragons in the Dungeon</h2>
			<div class="content">
				<a href="/downloads/dragons-in-the-dungeon.exe" class="button" download>Download</a>
			</div>
			<h2 class="collapsible">Dwarfs in Exile</h2>
			<div class="content">
				<a href="/downloads/dwarfs-in-exile.exe" class="button" download>Download</a>
			</div>
		</div>
	</body>
<html>
