{{include "top.html"}}
	<h2 class="collapsible">Autoclicker</h2>
	<div class="content">
		<p>Autoclicker ist ein einfaches Programm, das selbstständig die linke oder rechte Maustaste klickt.</p>
		<div class="flex block">
			<a href="/downloads/autoclicker.jar" class="button" download>Download</a>
		</div>
	</div>

	<h2 class="collapsible">Scoreboard</h2>
	<div class="content">
		<p>Mit Scoreboard kannst du ganz einfach ein Online-Scoreboard erstellen. Durch HTTP-Get Requests können neue Einträge erstellt oder bestehende Einträge abgerufen werden.</p>
		<div class="flex block">
			<a href="http://scoreboard.ddnss.ch" class="button">Link</a>
		</div>
	</div>

	<h2 class="collapsible">Minecraft Server</h2>
	<div class="content">
		<p>Ein klassischer Minecraft Server, der rund um die Uhr läuft.</p>
		<img src="/images/minecraft-screenshot.jpg">
		<div class="flex block">
			<a class="button" onclick="copy(this, 'minecraftserver.ddnss.ch');" switch="{{translate "copied"}}">{{translate "copy"}}</a>
		</div>
	</div>
	<h2 class="collapsible">Snailrace</h2>
	<div class="content">
		<p>Ein kleines Spiel, in dem deine Klick-Ausdauer gefragt ist. Fordere deine Freunde heraus, um zu sehen, wer am schnellsten klicken kann.</p>
		<img src="/images/snailrace-screenshot.jpg">
		<div class="flex block">
			<a href="/downloads/snailrace.exe" class="button" download>Download</a>
		</div>
	</div>

	<h2 class="collapsible">Colony</h2>
	<div class="content">
		<p>Baue eine Basis auf einem ausserirdischen Planeten auf und verteidige dich gegen Aliens.</p>
		<img src="/images/colony-screenshot.jpg">
		<div class="flex block">
			<a href="/downloads/colony-german.exe" class="button" download>Download [Deutsch]</a>
			<a href="/downloads/colony-english.exe" class="button" download>Download [Englisch]</a>
		</div>
	</div>

	<h2 class="collapsible">War of Ages</h2>
	<div class="content">
		<div class="flex block">
			<a href="/downloads/war-of-ages.exe" class="button" download>Download</a>
		</div>
	</div>

	<h2 class="collapsible">Dragons in the Dungeon</h2>
	<div class="content">
		<div class="flex block">
			<a href="/downloads/dragons-in-the-dungeon.exe" class="button" download>Download</a>
		</div>
	</div>

	<h2 class="collapsible">Dwarfs in Exile</h2>
	<div class="content">
		<div class="flex block">
			<a href="/downloads/dwarfs-in-exile.exe" class="button" download>Download</a>
		</div>
	</div>
{{include "bottom.html"}}
