{{include "top.html"}}
	<form action="/signup" method="POST">
		<h2>{{translate "signup"}}</h2>
		<div class="block">
			<label for="username">{{translate "username"}}</label>
			<input type="text" name="username" id="username"/>
		</div>
		<div class="block">
			<label for="password">{{translate "password"}}</label>
			<input type="password" name="password" id="password"/>
		</div>
		<input type="submit" value="{{translate "submit"}}"/>
		{{include "messages.html"}}
	</form>
{{include "bottom.html"}}
