<table>
  <tr>
    <th>{{translate "uptime"}}</th>
    <td>{{print get "uptime" variables}}</td>
  </tr>
  <tr>
    <th>{{translate "sessions"}}</th>
    <td>{{print get "sessions" variables}}</td>
  </tr>
  <tr>
    <th>{{translate "active-sessions"}}</th>
    <td>{{print get "active-sessions" variables}}</td>
  </tr>
  <tr>
    <th>{{translate "visitors-per-hour"}}</th>
    <td>{{print get "visitors-per-hour" variables}}</td>
  </tr>
  <tr>
    <th>{{translate "handles-per-hour"}}</th>
    <td>{{print get "handles-per-hour" variables}}</td>
  </tr>
</table>
